<div class="row layout-top-spacing">
    <div class="col-12 layout-spacing">
        <div class="panel br-6 statbox box box-shadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Disabled Stock List</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="custom-table panel-body p-0">
                    <v-client-table  :data="tableData" ref="customer_table" :columns="columns" :options="options">

                        <template #status="props">
                            <span v-if="props.row.status === true"  class="badge inv-status badge-success">Active</span>
                            <span v-if="props.row.status === false"  class="badge inv-status badge-warning">Inactive</span>
                        </template>

                        <template #action="props">
                            <div class="btn-group  dropdown custom-dropdown">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-xs btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <router-link v-for="(link,index) in props.row.action" class="dropdown-item" :to="link">{{ index }}</router-link>

                                </div>
                            </div>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>
    </div>

</div>
